*{
  font-family: 'Roboto', sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body{
  margin: 0;
}

#__next{
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}