.root{
    height: 100vh;
    width: 100vw;
}

.innerProgressBar{
    
    background-color: green;
    height : 100%;
   
    border-top-right-radius: 2px ;
    border-bottom-right-radius: 2px;

}
.outerProgressBar{
    position: relative;
    width: 150px;
    height: 5px;
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
    border-top-right-radius: 2px ;
    border-bottom-right-radius: 2px;
}
.topbar{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 12%;
    background-color: rgba(220, 220, 220, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5%;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.1);
}

.form-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.containers{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}


.form-section-content{
    flex-wrap: nowrap;
    background-color: #F1F1F1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    padding: 10rem 4rem 0rem 4rem;
}

.form-btn-group{
    width: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0 3rem 0;
}

.form-slide{
    margin: 1%;
    flex: 0 0 auto;
    background-color: #DCDCDC;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 3rem;
    border-radius: 1rem;
}

.side-bar{
    background-color: #F1F1F1;
    border-radius: 0 0.5rem 0.5rem 0;
    top: 130px;
    left: 0;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: solid;
    border-color: #DCDCDC;
    border-width: 0 2px 0 0;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.025);
    padding: 10rem 1rem 0 1rem;
    overflow: hidden;
}

.next{
    animation: next1-ani 0.15s ease-in-out, next2-ani 0.15s 0.15s ease-in-out;
}

.prev{
    animation: prev1-ani 0.15s ease-in-out, prev2-ani 0.15s 0.15s ease-in-out;
}

@keyframes next1-ani {
    from{
        transform: translateX(0%);
    }

    to{
        transform: translateX(-100%);
    }
}

@keyframes next2-ani {
    from {
            transform: translateX(100%);
    }
    
    to {
            transform: translateX(0%);
    }
}

@keyframes prev1-ani {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes prev2-ani {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

.my-btn{
    height : 50px;
    width: 120px;
    background-color: #99BF14;
    border: none;
    font-size: 1.5rem;
    color: white;
    border-radius: 0.5rem;
}

.my-btn:hover{
    background-color: #7f9d13;
}

.my-btn:disabled{
    background-color: #c6d87f;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
}

.progress-bar {
    position: absolute;
    top: 12%;
    left: 0;
    height: 3px;
    background-color: #72BFFE;
}

.side-bar-content{
    height: auto;
    width: 100%;
    background-color: #DCDCDC;
    margin: 1rem 0 0rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    transition: all 0.25s ease;
    padding: 1rem;
}

.label{
    transition: transform 0.25s ease-in-out;
}

.label-1{
    transform: translateX(0%);
}

.label-2 {
    transform: translateX(2rem);
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #DCDCDC;
    margin-bottom: 1rem;
    transition: all 0.25s ease;
}

.side-bar-elem{
    margin: 0.5rem;
    transition: all 0.15s ease-out;
}

.side-bar-elem:hover {
    cursor: pointer;
    font-weight: 800;
}


.side-bar-container{
    width: 100%;
    &:hover{
        .side-bar-content{
            cursor: pointer;
            margin: 1rem 0 0 0;
            border-radius: 1rem 1rem 0 0;
            background-color: #99BF14;
            color: #F1F1F1;
            font-weight: 800;
        }
        .content{
            padding-bottom: 1rem;
            border-radius: 0 0 1rem 1rem;
        }
    }
}