.form-container{
    height: 100vh;
}

.form-container-row {
    height: 100%;
}

.sidebar{
    z-index: 100;
    height: 100%;
    margin: auto;
    background-color: #000000;
}

.col, .row, .col-11{
    margin: 0;
    padding: 0;
}

.sidebar-content{
    color: rebeccapurple;
    background-color: rgb(16, 18, 20);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.5s ease;
}

.sidebar-content:hover{
    cursor: pointer;
    width: 200%;
}

.section{
    background-color: #F1F1F1;
    //display: flex;
    //align-items: center;
    //flex-direction: column;
    //flex-wrap: nowrap;
    //overflow-y : scroll;
}

.form-section{
    // flex: 0 0 auto;
    height: 100%;
    width: 100%;
    //margin: 3% 0% 3% 0%;
    //border-radius: 2rem;
    background-color: rgb(246, 159, 159);
}

.fade{
    animation: section-slide 1s;
}

.section-heading{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width:auto;
    background-color: #212529;
    border-radius: 1rem;
    padding-left: 2rem;
    color: white;
    height: auto;
    font-size: 70px;
}

.button-group{
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.my-btn{
    width: 200px;
    height: 80px;
    margin-bottom: 3rem;
    font-size: 40px;
}