@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
#light .containers {
  background-color: #F1F1F1;
}

#light .containers .form-section .form-section-content .form-slide {
  background-color: #DCDCDC;
}

#light .containers .form-section .form-section-content .form-slide .inputs .elem {
  background-color: #c5d77f;
  font-size: large;
}

#light .containers .form-section .form-section-content .form-slide .inputs .elem .my-inp {
  background-color: #c5d77f;
}

#light .containers .side-bar .side-bar-container .side-bar-content {
  background-color: #DCDCDC;
  font-size: medium;
  font-weight: 250;
}

#light .containers .side-bar .side-bar-container .content {
  color: #000000;
  background-color: #DCDCDC;
}

#light .containers .side-bar .side-bar-container .content .side-bar-elem:hover {
  color: #000000;
}

#light .containers .side-bar .side-bar-container:hover .side-bar-content {
  background-color: #c5d77f;
  font-weight: 700;
}

#dark .containers {
  background-color: #0f0f0f;
}

#dark .containers .form-section .form-section-content .form-slide {
  background-color: #1c1c1c;
}

#dark .containers .form-section .form-section-content .form-slide .inputs .elem {
  background-color: #5f7117;
  color: rgb(230, 230, 230);
  font-weight: 200;
  font-size: large;
  box-shadow: 0 0 0.75rem 0.21rem rgba(15, 15, 15, 0.5);
}

#dark .containers .form-section .form-section-content .form-slide .inputs .elem .my-inp {
  background-color: #5f7117;
  color: #bbbbbb;
}

#dark .containers .form-section .form-section-content .form-slide .inputs .elem .my-inp::placeholder {
  color: #999999;
  font-weight: 200;
}

#dark .containers .side-bar .side-bar-container .side-bar-content {
  background-color: #1c1c1c;
  color: #bbbbbb;
  font-weight: 250;
  font-size: medium;
}

#dark .containers .side-bar .side-bar-container .content .side-bar-elem:hover {
  color: #bbbbbb;
}

#dark .containers .topbar {
  background-color: rgba(50, 50, 50, 0.1);
}

#dark .containers .side-bar {
  border-color: #1c1c1c;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
}

#dark .containers .side-bar .side-bar-container .content {
  background-color: #1c1c1c;
  color: #969696;
}

#dark .containers .side-bar .side-bar-container:hover .side-bar-content {
  background-color: #7d951d;
  font-weight: 700;
}

#dark .containers .form-section .form-btn-group .my-btn {
  background-color: #5f7117;
  color: #bbbbbb;
}

#dark .containers .form-section .form-btn-group .my-btn:hover {
  background-color: #4c5b12;
}

.root {
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
}

.body {
  font-family: "Poppins", sans-serif;
}

.topbar {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 6rem;
  background-color: rgba(220, 220, 220, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5%;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.1);
}

.form-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.containers {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  transition: all 0.25s ease;
}

.form-section-content {
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  padding: 7rem 4rem 0rem 4rem;
}

.form-btn-group {
  width: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 3rem 0 3rem 0;
}

.form-slide {
  margin: 1%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3rem;
  border-radius: 1rem;
  transition: all 0.15s ease;
}

.side-bar {
  font-size: 0.75rem;
  border-radius: 0 0.5rem 0.5rem 0;
  top: 0;
  left: 0;
  width: 15rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: solid;
  border-color: #DCDCDC;
  border-width: 0 2px 0 0;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.025);
  padding: 8rem 1rem 0 1rem;
  overflow: hidden;
  transition: all 0.15s ease;
}

.my-btn {
  height: 3rem;
  width: 6rem;
  background-color: #b8cd64;
  border: none;
  font-size: 1rem;
  color: white;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
}

.my-btn:hover {
  background-color: #99BF14;
  transform: translateY(-10%);
}

.my-btn:disabled {
  background-color: #c6d87f;
}

.logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.progress-bar {
  position: absolute;
  top: 6rem;
  left: 0;
  height: 0.1rem;
  background-color: #72BFFE;
}

.side-bar-content {
  height: 3rem;
  width: 100%;
  margin: 0.25rem 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  transition: all 0.25s ease;
  padding: 1rem;
}

.label {
  transition: transform 0.25s ease-in-out;
}

.label-1 {
  transform: translateX(0%);
}

.label-2 {
  transform: translateX(1rem);
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
  transition: all 0.25s ease;
}

.side-bar-elem {
  margin: 0.5rem;
  transition: all 0.15s ease-out;
}

.side-bar-elem:hover {
  cursor: pointer;
  font-weight: 800;
}

.side-bar-container {
  width: 100%;
}
.side-bar-container:hover .side-bar-content {
  cursor: pointer;
  margin: 1rem 0 0 0;
  border-radius: 1rem 1rem 0 0;
  color: #969696;
  font-weight: 800;
}
.side-bar-container:hover .content {
  padding-bottom: 1rem;
  border-radius: 0 0 1rem 1rem;
}

.my-inp {
  margin: 0rem;
  border-width: 0.1rem 0.1rem 0.1rem 0.1rem;
  margin: 1rem 0 1rem 0;
  width: 100%;
  font-size: 1rem;
  border: none;
  padding: 0.5rem;
  font-weight: 500;
  transition: all 0.15s ease;
}

.my-inp:focus {
  border-width: 0 0 1px 0;
  border: none;
  outline: none;
}

.header {
  height: 100%;
  width: 35rem;
  font-size: 3rem;
  font-weight: 500;
  text-align: left;
  justify-content: flex-end;
  align-items: flex-end;
  color: rgb(150, 150, 150);
}

.inputs {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.elem {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 0.75rem 0.1rem rgba(127, 157, 19, 0.5);
  font-size: 1rem;
  font-weight: 300;
  color: rgb(54, 54, 54);
  transition: all 0.15s ease;
}

.label-inp {
  transition: all 0.25s ease;
}

.elem:hover {
  cursor: pointer;
}
.elem:hover .label-inp {
  font-weight: 400;
}

.label-inp:hover {
  cursor: pointer;
}

.theme-btn {
  height: 55%;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 1rem;
  border-radius: 0.5rem;
  transition: all 0.25s ease;
}

.light-back {
  background-color: gainsboro;
  box-shadow: 0 0 0.5rem 0.5rem rgba(47, 47, 47, 0.15);
}

.light-back:hover {
  transform: rotate(45deg);
}

.dark-back {
  background-color: #1c1c1c;
  box-shadow: 0 0 0.5rem 0.51rem rgba(0, 0, 0, 0.2);
}

.dark-back:hover {
  transform: rotate(-45deg);
}

/*# sourceMappingURL=styles.css.map */
