.innerProgressBar{
    
    background-color: green;
    height : 100%;
   
    border-top-right-radius: 2px ;
    border-bottom-right-radius: 2px;

}
.outerProgressBar{
    position: relative;
    width: 150px;
    height: 5px;
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
    border-top-right-radius: 2px ;
    border-bottom-right-radius: 2px;
}
.topbar{
    height: 75px;
    background-color: red;
    transition: height 0.5s;
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
}
.topbar:hover{
    height: 125px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.containers{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root{
    height: 100vh;
    width: 100vw;
}